.calculator__container {
    display: grid;
    grid-template-rows: 30% 70%;
    width: 50%;
    height: 70%;
    background: var(--off-white);
    border-radius: 20px;
    padding-left: 3rem;
}

.form__container {
    display: grid;
    grid-template-rows: 80% 20%;
}

.form__button-container {
    display: flex;
    width: 100%;
    justify-content: right;
    padding-right: 2rem;
}

.form__button-container button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--purple);
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 999;
    font-family: var(--font-family-bold);
    font-size: 1rem;
    color: var(--off-white);
}

.form__button-container button:hover {
    background-color: black;
}

.form__input-container {
    width: 80%;
    display: flex;
    align-items: center;
    font-family: var(--font-family-bold);
    color: var(--smokey-grey);
    letter-spacing: 0.2rem;
}

.form__input-container input {
    display: flex;
    align-items: center;
    height: 150%;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    font-family: var(--font-family-extra-bold);
    font-size: var(--font-size-input);
    padding-left: 1.5rem;
    width: 80%;
}

.form__input-container label {
    margin-bottom: 0.5rem;
}

.invalid input {
    border-color:var(--light-red);
    height: 10vh;
}

.invalid label {
    color: var(--light-red);
}

.form__month-input {
    height: 10vh;
}

.form__month-input input {
    height: 70%;
}

.form__year-input {
    height: 10vh;
}

.form__year-input input {
    height: 70%;
}

.form__input-container p {
    color: red;
    font-family: var(--font-family-italic);
    letter-spacing: 0rem;
}

.form__button-container button:disabled {
    background-color: grey;
}

@media only screen and (max-width: 768px) {

    .calculator__container {
        width: 90%;
        height: 70%;
        padding-left: 2rem;
    }

    .form__container {
        display: grid;
        grid-template-rows: 80% 20%;
    }

    .form__button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 3rem;
    }

    .form__button-container button {
        height: 60px;
        width: 60px;
    }

    .form__input-container {
        display: flex;
        width: 100%;
    }

    .form__input-container input {
        height: 200%;
        font-family: var(--font-family-extra-bold);
        font-size: 16px;
        width: 80%;
    }

    .form__month-input {
        height: 3vh;
    }

    .form__year-input {
        height: 3vh;
    }

    .form__button-container button {
        font-size: 0.7rem;
    }

}