* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: regular;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: lighter_bold;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: extra_bold;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

:root {
  /*Colors*/

  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: (0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  /*Font family*/
  --regular: regular;
  --lighter-bold: lighter-bold;
  --bold: extra_bold;

  /*Font size*/
  --fontsize: 32px;

}
